.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper {
  overflow: visible !important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}

.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .portfolio {
    height: auto;
    flex-direction: row;
    align-items: flex-start;
  }

  .portfolio span:nth-of-type(1) {
    font-size: 1.5rem;
  }

  .portfolio span:nth-of-type(2) {
    font-size: 2rem;
  }

  .portfolio-slider {
    margin-top: 1.5rem;
  }

  .portfolio-slider .swiper-slide {
    width: 100%;
    margin-bottom: 1rem;
  }

  .portfolio img {
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 480px) {
  .portfolio span:nth-of-type(1) {
    font-size: 1.2rem;
  }

  .portfolio span:nth-of-type(2) {
    font-size: 1.8rem;
  }

  .portfolio-slider .swiper-slide {
    width: 100%;
    margin-bottom: 1rem;
  }

  .portfolio img {
    width: 100%;
    max-width: 11rem;
    margin: 0 auto;
    display: block;
  }
  .portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
  }
}
